/* Kleurovergang */
body {
  background-color: #f043b4; /* fallback voor oude browsers */
  background-image: linear-gradient(to bottom, #f043b4, #ff6e61);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8fffc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-align: center;
  animation: type 5s steps(30), color 5s ease-in-out infinite alternate;
}

/* Animatie om tekst typend in beeld te brengen */
@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Hysterische kleur van de letters */
@keyframes color {
  0% {
    color: #00FA9a;
  }
  50% {
    color: #fafad2;
  }
  100% {
    color: #f5f5f5;
  }
}

/* Media query voor mobielvriendelijke weergave */
@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }
}
input, button {
  font-size: 20px;
}
